@model GameEngine.Game
@{
    ViewBag.Title = "GameLobby";


}
<meta http-equiv="refresh" content="7">
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />














    <div class="gameLobbyPhoto" >
        <div style="position: fixed;top: 50%; left: 30%;">
            @{
                <h1>GameKey: @Model.GetGameKey</h1>
                foreach (var item in Model.Players)
                {


                    <ul> Player: @item.Nickname </ul>

                }

                if (Model._CurrentPlayer.IsAdmin == 1)
                {
                    <h2>Click to Start the Game</h2>
                    <a href="/Home/RunGame">
                        <input id="Button1" type="button" value="Start Game" />
                    </a>


                }


            }


            </div>

        </div>