
@{
    ViewBag.Title = "Index";
}

<h2>Create Game</h2>
<a href="/Home/NewGame">
    <input id="Button1" type="button" value="Create Game" />
</a>

<h2>Join Game</h2>
<a href="/Home/JoinGame">
    <input id="Button1" type="button" value="Join Game" />
</a>