
@{
    ViewBag.Title = "JoinGame";
}

<h2>JoinGame</h2>
<form name="SendName" action="/Home/GameLogin" method="post">
    Name<br />
    <input type="text" name="NameInput" />
    GameKey<br />
    <input type="text" name="GameKey" />
    <input type="submit" value="Enter" />
</form>
