
@{
    ViewBag.Title = "NewGame";
}

<h2>NewGame</h2>
<form name="SendName" action="/Home/GameCreator" method="post">
    Name<br />
    <input type="text" name="NameInput" />
    <input type="submit" value="Enter" />
</form>
