
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @Html.TextBox("userName", null, new { @class = "form-control" });
    @Html.TextBox("passWord", null, new { @class = "form-control" });
    <input type="submit" value="Login" class="btn btn-primary" />

}