
@{
    ViewBag.Title = "CreateGame";
}

<h2>CreateGame</h2>
<form action="/Home/GameChecker" method="post">
    Name<br />
    <input type="text" name="name" />
    <input type="submit" value="Enter" />
</form>

