
@{
    ViewBag.Title = "CreateGame";
   
}

<h2>CreateGame</h2>
<form name="SendName" action="/Home/GameController" method="post">
    Name<br />
    <input type="text" name="name"  />
    <input type="submit" value="Enter" />
   


    
   
</form>

