@model List<GameEngine.Player>
@{

    ViewBag.Title = "GamestarterGuest";

}

<h2>GamestarterGuest</h2>
@{
    foreach (var item in Model)
{
   
        <td>
            <span>Player: @item.Name</span> <br />
        </td>
}
}