
@{
    ViewBag.Title = "JoinGameView";
}

<h2>JoinGameView</h2>
@{
    ViewBag.Title = "CreateGame";
}

<h2>CreateGame</h2>
<form action="/Home/GameChecker">
    Name<br />
    <input type="text" name="name" />
    <input type="submit" value="Enter" />
</form>
