
@{
    ViewBag.Title = "StartGameView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StartGameView</h2>

<div class="StartNewGame">
    <button type="button" style="width:100px; height:100px; " onclick="location.href='@Url.Action("Index")' "><h1>Start Game</h1></button>
</div>
